In [ ]:
import os
import torch
import torch.nn as nn
import numpy as np
import pandas as pd

from warnings import filterwarnings

filterwarnings('ignore')

device = torch.device('mps' if torch.backends.mps.is_available() else 'cpu')

from sqlalchemy import create_engine

from transformers import AutoTokenizer
from transformers import BertModel
from transformers import RobertaModel
from transformers import DistilBertModel
from torch.utils.data import DataLoader
from transformers import DataCollatorWithPadding

import torch
from tqdm import tqdm

from torch.utils.data import Dataset

from sklearn.decomposition import PCA

engine = create_engine(
        "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml")

In [2]:
def get_model(model_name):
    assert model_name in ['bert', 'roberta', 'distilbert']
    
    checkpoint_names = {
        'bert': 'bert-base-cased',
        'roberta': 'roberta-base',
        'distilbert': 'distilbert-base-cased'
    }
    
    model_classes = {
        'bert': BertModel,
        'roberta': RobertaModel,
        'distilbert': DistilBertModel
    }
    
    return AutoTokenizer.from_pretrained(checkpoint_names[model_name]), model_classes[model_name].from_pretrained(checkpoint_names[model_name])

In [3]:
tokenizer, model = get_model('bert')

model = model.to(device)

In [4]:
engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

with engine.connect() as conn:
    post_df = pd.read_sql(
        sql="SELECT * FROM public.post_text_df",
        con=conn.connection
    )

In [5]:
texts = post_df['text']
texts

0       UK economy facing major risks\n\nThe UK manufa...
1       Aids and climate top Davos agenda\n\nClimate c...
2       Asian quake hits European shares\n\nShares in ...
3       India power shares jump on debut\n\nShares in ...
4       Lacroix label bought by US firm\n\nLuxury good...
                              ...
7018    OK, I would not normally watch a Farrelly brot...
7019    I give this movie 2 stars purely because of it...
7020    I cant believe this film was allowed to be mad...
7021    The version I saw of this film was the Blockbu...
7022    Piece of subtle art. Maybe a masterpiece. Doub...
Name: text, Length: 7023, dtype: object

In [6]:
class PostDataset(Dataset):
    def __init__(self, texts, tokenizer):
        super().__init__()

        self.texts = tokenizer.batch_encode_plus(
            texts,
            add_special_tokens=True,
            return_token_type_ids=False,
            return_tensors='pt',
            truncation=True,
            padding=True
        )
        self.tokenizer = tokenizer

    def __getitem__(self, idx):
        return {'input_ids': self.texts['input_ids'][idx], 'attention_mask': self.texts['attention_mask'][idx]}

    def __len__(self):
        return len(self.texts['input_ids'])
    
dataset = PostDataset(texts.values.tolist(), tokenizer)

In [7]:
data_collator = DataCollatorWithPadding(tokenizer=tokenizer)

loader = DataLoader(dataset, batch_size=32, collate_fn=data_collator, pin_memory=True, shuffle=False)

In [8]:
@torch.inference_mode()
def get_embeddings_labels(model, loader):
    model.eval()

    total_embeddings = []

    for batch in tqdm(loader):
        batch = {key: batch[key].to(device) for key in ['attention_mask', 'input_ids']}

        embeddings = model(**batch)['last_hidden_state'][:, 0, :]

        total_embeddings.append(embeddings.cpu())

    return torch.cat(total_embeddings, dim=0)

In [9]:
embeddings = get_embeddings_labels(model, loader)
embeddings

100%|██████████| 220/220 [30:46<00:00,  8.39s/it]

tensor([[ 0.1404, -0.1407, -0.5757,  ..., -0.1379,  0.0430,  0.1423],
        [ 0.1575, -0.0977, -0.2307,  ..., -0.3009,  0.1905,  0.0198],
        [ 0.3146, -0.1152, -0.1813,  ..., -0.3541, -0.2043, -0.0270],
        ...,
        [ 0.6195,  0.2746, -0.1265,  ..., -0.3581, -0.1643,  0.1710],
        [ 0.6941,  0.0672, -0.2287,  ...,  0.0379,  0.1410,  0.1244],
        [ 0.4166,  0.1736, -0.1788,  ..., -0.2106,  0.3133,  0.0338]])

In [10]:
texts_df = pd.DataFrame(embeddings)
texts_df

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.140363,-0.140695,-0.575681,-0.118175,-0.315324,-0.114379,0.431977,-0.144286,0.003233,-1.187819,...,0.051768,0.614536,-0.613107,0.131062,0.202857,0.175931,-0.167769,-0.137880,0.042959,0.142284
1,0.157530,-0.097739,-0.230651,-0.364432,-0.242782,0.310065,0.374489,-0.089235,0.202153,-1.130713,...,0.586032,0.652154,-0.112309,-0.085171,-0.051814,0.240048,0.200299,-0.300891,0.190542,0.019754
2,0.314568,-0.115163,-0.181322,-0.274698,-0.357378,0.285227,0.266597,0.002641,-0.033905,-1.092079,...,0.416194,0.641697,-0.326962,-0.042802,-0.073850,0.212023,-0.090193,-0.354050,-0.204323,-0.027024
3,0.415116,-0.241301,-0.260733,-0.436026,-0.194695,0.130077,0.458804,-0.235223,-0.032935,-1.008514,...,0.791115,0.562938,-0.194190,0.022462,0.108904,0.019627,0.362090,-0.150884,-0.048834,0.083071
4,0.614585,-0.235812,-0.047732,-0.406701,-0.284798,0.124150,0.545586,-0.284447,0.047562,-1.139114,...,0.605897,0.518613,0.007372,0.032436,0.015634,0.055696,0.145705,-0.061322,-0.021120,0.121545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,0.521686,0.292126,-0.210760,-0.219636,0.124439,-0.032429,0.055145,0.118430,-0.033624,-1.167992,...,0.575904,0.319888,-0.427477,0.161139,0.179985,0.053671,0.051577,-0.353712,-0.010725,-0.047067
7019,0.487033,0.442944,-0.251731,-0.303212,0.068587,-0.176149,0.235079,-0.050546,-0.011602,-1.161575,...,0.077758,0.174062,-0.359764,-0.196519,0.043920,0.178851,-0.054635,-0.233469,0.349205,-0.031997
7020,0.619477,0.274618,-0.126504,-0.110225,0.167652,-0.184624,0.244474,0.020286,0.058746,-1.046320,...,0.307723,0.187838,-0.378197,-0.223616,0.019644,0.250250,0.038904,-0.358137,-0.164277,0.171024
7021,0.694089,0.067175,-0.228680,-0.255529,0.134818,0.223566,0.249515,-0.032106,-0.160485,-1.041768,...,0.361884,0.352622,-0.307157,-0.139961,0.150054,0.015053,0.045804,0.037859,0.141017,0.124412
7022,0.416576,0.173621,-0.178766,-0.126458,-0.076927,-0.037817,0.094929,-0.383895,-0.085158,-1.209921,...,0.201431,0.208353,-0.367007,0.111834,-0.045757,0.141949,0.096838,-0.210634,0.313254,0.033769

In [11]:
pca = PCA(n_components=30)
texts_pca = pca.fit_transform(texts_df)
texts_pca = pd.DataFrame(texts_pca)
texts_pca.columns = [f"feature_{i}" for i in range(texts_pca.shape[1])]
texts_pca

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29
0,-0.954871,1.755625,-0.207011,-1.697698,2.381034,0.014738,0.139361,-0.573135,-2.037568,0.976326,...,0.336467,-0.183234,0.194135,-0.566173,0.524637,0.283930,-0.186607,-0.480151,0.792783,0.227103
1,-3.082158,0.872366,1.121511,-0.695177,-0.051377,0.234757,0.309038,-0.000410,-0.246707,-0.531312,...,-1.031320,0.207208,0.431227,0.034055,-0.747175,-0.440222,-0.215422,0.332533,0.002259,-0.147171
2,-2.298745,0.771818,1.484295,-0.921818,-0.043754,0.577134,-0.102367,-0.678305,-1.164018,1.001134,...,0.149612,0.152376,0.019547,0.075537,-0.179517,0.877071,-0.851104,0.192912,0.396555,-0.295811
3,-3.830454,0.031841,1.307988,2.101641,-0.484520,-0.095323,-0.206715,0.808233,0.210471,-0.079045,...,0.200990,0.086475,0.308906,-0.118888,0.087664,0.038086,0.366450,-0.208132,0.063943,-0.188474
4,-2.248866,-0.231331,1.637727,1.685152,-0.175617,-0.363433,-0.877831,0.201333,0.476320,-0.037058,...,0.084804,0.335975,-0.260390,0.188660,0.754877,-0.077742,0.081562,-0.207224,0.172092,0.144080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,2.656977,1.065921,1.688352,0.109288,-0.562751,-0.528287,-0.269982,-0.190388,1.075465,0.433449,...,-0.560721,0.114321,0.113997,0.410769,0.142971,-0.366330,-0.395891,-0.529701,-0.344597,0.402668
7019,2.547191,0.549888,0.247581,-0.458580,-0.235309,-0.913798,-0.242979,-0.429362,-0.440362,0.022954,...,0.474860,-0.310712,-0.348157,-0.376223,0.641310,-0.765469,-0.263881,-0.490979,-0.141250,-0.392970
7020,2.438391,0.878832,1.034500,0.249475,-0.589286,-0.427736,-0.258929,-0.983649,0.138910,0.731661,...,-0.285288,-1.029885,0.109075,-0.220872,-0.131146,-0.020056,0.308211,-0.005365,0.100638,0.190629
7021,2.499132,1.253239,0.025754,0.992779,0.589765,0.471232,-0.410791,0.301116,0.129273,0.344705,...,-0.124934,0.212231,0.422046,0.261138,-0.022007,0.210595,0.296806,0.453367,-0.313383,-0.219593
7022,1.595064,0.487604,-0.166949,0.815351,-0.525928,1.160474,-1.005833,0.672760,-1.143732,-0.305954,...,-0.317359,0.568526,-0.189558,0.170915,0.340627,-0.218798,-0.158139,-0.200492,-0.208879,0.631223

In [12]:
post_df = pd.concat([post_df, texts_pca], axis=1)
post_df

,post_id,text,topic,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,...,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29
0,1,UK economy facing major risks\n\nThe UK manufa...,business,-0.954871,1.755625,-0.207011,-1.697698,2.381034,0.014738,0.139361,...,0.336467,-0.183234,0.194135,-0.566173,0.524637,0.283930,-0.186607,-0.480151,0.792783,0.227103
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,-3.082158,0.872366,1.121511,-0.695177,-0.051377,0.234757,0.309038,...,-1.031320,0.207208,0.431227,0.034055,-0.747175,-0.440222,-0.215422,0.332533,0.002259,-0.147171
2,3,Asian quake hits European shares\n\nShares in ...,business,-2.298745,0.771818,1.484295,-0.921818,-0.043754,0.577134,-0.102367,...,0.149612,0.152376,0.019547,0.075537,-0.179517,0.877071,-0.851104,0.192912,0.396555,-0.295811
3,4,India power shares jump on debut\n\nShares in ...,business,-3.830454,0.031841,1.307988,2.101641,-0.484520,-0.095323,-0.206715,...,0.200990,0.086475,0.308906,-0.118888,0.087664,0.038086,0.366450,-0.208132,0.063943,-0.188474
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,-2.248866,-0.231331,1.637727,1.685152,-0.175617,-0.363433,-0.877831,...,0.084804,0.335975,-0.260390,0.188660,0.754877,-0.077742,0.081562,-0.207224,0.172092,0.144080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,2.656977,1.065921,1.688352,0.109288,-0.562751,-0.528287,-0.269982,...,-0.560721,0.114321,0.113997,0.410769,0.142971,-0.366330,-0.395891,-0.529701,-0.344597,0.402668
7019,7316,I give this movie 2 stars purely because of it...,movie,2.547191,0.549888,0.247581,-0.458580,-0.235309,-0.913798,-0.242979,...,0.474860,-0.310712,-0.348157,-0.376223,0.641310,-0.765469,-0.263881,-0.490979,-0.141250,-0.392970
7020,7317,I cant believe this film was allowed to be mad...,movie,2.438391,0.878832,1.034500,0.249475,-0.589286,-0.427736,-0.258929,...,-0.285288,-1.029885,0.109075,-0.220872,-0.131146,-0.020056,0.308211,-0.005365,0.100638,0.190629
7021,7318,The version I saw of this film was the Blockbu...,movie,2.499132,1.253239,0.025754,0.992779,0.589765,0.471232,-0.410791,...,-0.124934,0.212231,0.422046,0.261138,-0.022007,0.210595,0.296806,0.453367,-0.313383,-0.219593
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,1.595064,0.487604,-0.166949,0.815351,-0.525928,1.160474,-1.005833,...,-0.317359,0.568526,-0.189558,0.170915,0.340627,-0.218798,-0.158139,-0.200492,-0.208879,0.631223

In [13]:
post_df = post_df.drop('text', axis=1)
post_df

,post_id,topic,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29
0,1,business,-0.954871,1.755625,-0.207011,-1.697698,2.381034,0.014738,0.139361,-0.573135,...,0.336467,-0.183234,0.194135,-0.566173,0.524637,0.283930,-0.186607,-0.480151,0.792783,0.227103
1,2,business,-3.082158,0.872366,1.121511,-0.695177,-0.051377,0.234757,0.309038,-0.000410,...,-1.031320,0.207208,0.431227,0.034055,-0.747175,-0.440222,-0.215422,0.332533,0.002259,-0.147171
2,3,business,-2.298745,0.771818,1.484295,-0.921818,-0.043754,0.577134,-0.102367,-0.678305,...,0.149612,0.152376,0.019547,0.075537,-0.179517,0.877071,-0.851104,0.192912,0.396555,-0.295811
3,4,business,-3.830454,0.031841,1.307988,2.101641,-0.484520,-0.095323,-0.206715,0.808233,...,0.200990,0.086475,0.308906,-0.118888,0.087664,0.038086,0.366450,-0.208132,0.063943,-0.188474
4,5,business,-2.248866,-0.231331,1.637727,1.685152,-0.175617,-0.363433,-0.877831,0.201333,...,0.084804,0.335975,-0.260390,0.188660,0.754877,-0.077742,0.081562,-0.207224,0.172092,0.144080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,movie,2.656977,1.065921,1.688352,0.109288,-0.562751,-0.528287,-0.269982,-0.190388,...,-0.560721,0.114321,0.113997,0.410769,0.142971,-0.366330,-0.395891,-0.529701,-0.344597,0.402668
7019,7316,movie,2.547191,0.549888,0.247581,-0.458580,-0.235309,-0.913798,-0.242979,-0.429362,...,0.474860,-0.310712,-0.348157,-0.376223,0.641310,-0.765469,-0.263881,-0.490979,-0.141250,-0.392970
7020,7317,movie,2.438391,0.878832,1.034500,0.249475,-0.589286,-0.427736,-0.258929,-0.983649,...,-0.285288,-1.029885,0.109075,-0.220872,-0.131146,-0.020056,0.308211,-0.005365,0.100638,0.190629
7021,7318,movie,2.499132,1.253239,0.025754,0.992779,0.589765,0.471232,-0.410791,0.301116,...,-0.124934,0.212231,0.422046,0.261138,-0.022007,0.210595,0.296806,0.453367,-0.313383,-0.219593
7022,7319,movie,1.595064,0.487604,-0.166949,0.815351,-0.525928,1.160474,-1.005833,0.672760,...,-0.317359,0.568526,-0.189558,0.170915,0.340627,-0.218798,-0.158139,-0.200492,-0.208879,0.631223

In [16]:
def batch_load_sql(query: str) -> pd.DataFrame:

    ### Читаем записанный DataFrame из базы данных -->>

    # Функция для чтения признаков из базы данных батчами

    CHUNKSIZE = 200000
    engine = create_engine("postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml")
    conn = engine.connect().execution_options(stream_results=True)
    chunks = []
    for chunk_dataframe in pd.read_sql(query, conn, chunksize=CHUNKSIZE):
        chunks.append(chunk_dataframe)
    conn.close()
    return pd.concat(chunks, ignore_index=True)


def load_features(table_name) -> pd.DataFrame:

    ### Читаем DataFrame из базы данных -->>
    query = f"SELECT * FROM {table_name}"
    return batch_load_sql(query)


def load_to_sql(table_name: str, data: pd.DataFrame):
    """Записывает DataFrame в базу данных."""

    engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
    )
    
    data.to_sql(table_name, con=engine, if_exists='replace', index=False, chunksize=10000)

In [17]:
load_to_sql('darja_stiheeva_lms4973_post_features_bert_2', post_df)

AttributeError: 'Engine' object has no attribute 'cursor'