In [3]:
import pandas as pd
import numpy as np
import scipy.stats

In [2]:
likes_df = pd.read_csv('likes.csv')
likes_df.head()

   user_id  post_id   timestamp
0   128381     4704  1654030804
1   146885     1399  1654030816
2    50948     2315  1654030828
3    14661      673  1654030831
4    37703     1588  1654030833

In [3]:
views_df = pd.read_csv('views.csv')
views_df.head()

   user_id exp_group             recommendations   timestamp
0   128381   control  [3644 4529 4704 5294 4808]  1654030803
1   146885      test  [1399 1076  797 7015 5942]  1654030811
2    50948      test  [2315 3037 1861 6567 4093]  1654030825
3    37703      test  [2842 1949  162 1588 6794]  1654030826
4    14661      test  [2395 5881 5648 3417  673]  1654030829

In [19]:
both_groups = views_df.groupby('user_id').agg({'exp_group': 'nunique'}).reset_index()
id_both_groups = both_groups[both_groups['exp_group'] > 1].user_id.values

views_df = views_df[~np.in1d(views_df['user_id'], id_both_groups)]
likes_df = likes_df[~np.in1d(likes_df['user_id'], id_both_groups)]

In [ ]:
views_df.groupby('exp_group').agg({'user_id': 'count'})

           user_id
exp_group
control      96370
test         96898

In [27]:
id_user_recs = views_df['user_id'].unique()
user_recs = likes_df[np.in1d(likes_df['user_id'], id_user_recs)]
user_nlikes = user_recs.groupby('user_id').agg({'post_id': 'count'})
user_nlikes.columns = ['n_likes']
user_nlikes

         n_likes
user_id
200            1
201            3
202            2
212            4
213            7
...          ...
168525         2
168532         4
168538         5
168541         2
168545         5

[58167 rows x 1 columns]

In [30]:
user_nlikes.shape[0] / user_recs.shape[0]

0.2527494492411042

In [ ]:
def get_missing_number(nums: list) -> int:
    return set(range(nums[0], nums[-1] + 1)) - set(nums)

In [27]:
nums = [1,2,3,4,5,6,8,9,10,11]
get_missing_number(nums)

{7}