In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlalchemy

In [2]:
CONN = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"\
    "postgres.lab.karpov.courses:6432/startml"

In [3]:
user_df = pd.read_sql(
    """SELECT * FROM public.user_data""",
    con=CONN
)

user_df.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [4]:
# post_df = pd.read_sql(
#     """SELECT * FROM public.post_text_df""",
#     con=CONN
# )

post_df = pd.read_sql(
    """SELECT * FROM daria_stikheeva_base_model_post_features""",
    con=CONN
)

post_df.head()

,index,post_id,text,topic,PC_0,PC_1,PC_2,PC_3,PC_4,PC_5,...,PC_20,PC_21,PC_22,PC_23,PC_24,PC_25,PC_26,PC_27,PC_28,PC_29
0,0,1,UK economy facing major risks\n\nThe UK manufa...,business,-0.079701,0.151418,-0.025130,-0.109451,-0.125826,0.223940,...,-0.000337,0.026788,0.003280,-0.018680,0.078554,0.042547,0.055163,0.007827,0.020282,0.001929
1,1,2,Aids and climate top Davos agenda\n\nClimate c...,business,-0.073685,0.172741,0.049680,0.010152,-0.048158,0.031124,...,-0.005844,-0.079978,0.086446,0.028002,-0.044838,-0.028524,-0.006120,0.004827,-0.030211,-0.011229
2,2,3,Asian quake hits European shares\n\nShares in ...,business,-0.057307,0.097492,-0.024933,-0.090227,-0.104137,0.145144,...,-0.016139,-0.030939,0.005843,0.007862,-0.037387,-0.034741,-0.093827,-0.028508,-0.063390,-0.024728
3,3,4,India power shares jump on debut\n\nShares in ...,business,-0.067296,0.083617,-0.013645,-0.059811,-0.082142,0.064358,...,0.000340,-0.023259,-0.017781,-0.007025,-0.063665,-0.011553,-0.063771,-0.051532,-0.058679,-0.020386
4,4,5,Lacroix label bought by US firm\n\nLuxury good...,business,-0.051251,0.054124,-0.009096,-0.027548,-0.022169,0.008394,...,-0.002167,0.005537,-0.020391,-0.011088,0.002385,-0.018540,-0.024813,-0.024468,-0.013712,-0.008447

In [5]:
post_df = post_df.drop('index', axis=1)

post_df.head()

,post_id,text,topic,PC_0,PC_1,PC_2,PC_3,PC_4,PC_5,PC_6,...,PC_20,PC_21,PC_22,PC_23,PC_24,PC_25,PC_26,PC_27,PC_28,PC_29
0,1,UK economy facing major risks\n\nThe UK manufa...,business,-0.079701,0.151418,-0.025130,-0.109451,-0.125826,0.223940,-0.075140,...,-0.000337,0.026788,0.003280,-0.018680,0.078554,0.042547,0.055163,0.007827,0.020282,0.001929
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,-0.073685,0.172741,0.049680,0.010152,-0.048158,0.031124,0.012330,...,-0.005844,-0.079978,0.086446,0.028002,-0.044838,-0.028524,-0.006120,0.004827,-0.030211,-0.011229
2,3,Asian quake hits European shares\n\nShares in ...,business,-0.057307,0.097492,-0.024933,-0.090227,-0.104137,0.145144,-0.066998,...,-0.016139,-0.030939,0.005843,0.007862,-0.037387,-0.034741,-0.093827,-0.028508,-0.063390,-0.024728
3,4,India power shares jump on debut\n\nShares in ...,business,-0.067296,0.083617,-0.013645,-0.059811,-0.082142,0.064358,-0.025042,...,0.000340,-0.023259,-0.017781,-0.007025,-0.063665,-0.011553,-0.063771,-0.051532,-0.058679,-0.020386
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,-0.051251,0.054124,-0.009096,-0.027548,-0.022169,0.008394,0.000486,...,-0.002167,0.005537,-0.020391,-0.011088,0.002385,-0.018540,-0.024813,-0.024468,-0.013712,-0.008447

In [6]:
feed_df = pd.read_sql(
    """SELECT * FROM public.feed_data LIMIT 1000000""",
    con=CONN
)

feed_df.head()

            timestamp  user_id  post_id action  target
0 2021-12-07 13:17:51    30220      217   view       0
1 2021-12-07 13:19:31    30220     1655   view       0
2 2021-12-07 13:22:13    30220     1224   view       0
3 2021-12-07 13:24:35    30220       56   view       0
4 2021-12-07 13:24:45    30220     1963   view       0

In [ ]:
# from sklearn.feature_extraction.text import TfidfVectorizer

# def preprocessing(line):
#     line = line.lower()
#     line = line.replace('\n\n', ' ').replace('\n', ' ')
#     return line

# tfidf = TfidfVectorizer(
#     stop_words='english',
#     preprocessor=preprocessing
# )

# tfidf_data = (
#     tfidf
#     .fit_transform(post_df['text'])
#     .toarray()
# )

# tfidf_data.shape

(7023, 51534)

In [ ]:
# tfidf_data = pd.DataFrame(
#     tfidf_data,
#     index=post_df.post_id,
#     columns=tfidf.get_feature_names_out()
# )

# tfidf_data.head()

,00,000,0001,000bn,000m,000s,000th,001,001and,001st,...,𝓫𝓮,𝓫𝓮𝓽𝓽𝓮𝓻,𝓬𝓸𝓾𝓻𝓽𝓼,𝓱𝓮𝓪𝓻𝓲𝓷𝓰,𝓶𝓪𝔂,𝓹𝓱𝔂𝓼𝓲𝓬𝓪𝓵,𝓼𝓸𝓸𝓷𝓮𝓻,𝓼𝓾𝓫𝓸𝓻𝓭𝓲𝓷𝓪𝓽𝓮,𝓽𝓱𝓮,𝓽𝓸
post_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.132191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.050398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# from sklearn.decomposition import PCA

# def get_PCA(n_components, data):
#     centered = data - data.mean()
#     pca = PCA(n_components) 
#     return pca.fit_transform(centered)

# pca_decomp = get_PCA(n_components = 30, data=tfidf_data)
# pd.DataFrame(pca_decomp).head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.079701,0.151418,-0.025129,-0.109452,-0.125821,0.223955,-0.075071,0.105421,-0.114945,0.014357,...,-0.000680,0.032792,-0.035409,-0.084558,-0.028598,0.004146,-0.046877,0.003412,0.018626,0.007951
1,-0.073685,0.172741,0.049678,0.010156,-0.048122,0.031179,0.012412,0.015805,-0.002130,0.001719,...,0.000810,-0.048596,0.101187,0.069303,0.001415,-0.016319,-0.011792,0.026458,0.004573,-0.045210
2,-0.057307,0.097492,-0.024934,-0.090231,-0.104128,0.145123,-0.067226,0.026954,-0.006441,-0.003197,...,-0.011406,-0.035458,0.023349,0.046534,0.020785,-0.016292,0.068745,0.005944,-0.059682,0.016732
3,-0.067296,0.083617,-0.013645,-0.059812,-0.082167,0.064315,-0.025117,-0.017624,0.048845,-0.013888,...,0.000032,-0.036508,0.020235,0.038433,0.050321,0.009525,0.039793,-0.016614,-0.059097,0.002995
4,-0.051251,0.054124,-0.009095,-0.027547,-0.022169,0.008378,0.000481,-0.050048,0.046319,-0.006920,...,-0.003165,0.002936,-0.013729,-0.005085,0.013547,-0.007056,0.015112,-0.012213,-0.031297,0.007135

In [ ]:
# def get_features(df, method):
#     methods = {
#         'pca' : lambda x: x
#     }

#     data = methods[method](df) if method!=None else df

#     if method=='pca':
#         columns = [f"PC_{i}" for i in range(0, data.shape[1])]
#     else:
#         columns = [f"DistanceTo{i}thCluster" for i in range(0, data.shape[1])]

#     return pd.DataFrame(
#         data=data,
#         columns=columns
#     )

# dists_df = get_features(pca_decomp, 'pca')
# dists_df.sample(5)

,PC_0,PC_1,PC_2,PC_3,PC_4,PC_5,PC_6,PC_7,PC_8,PC_9,...,PC_20,PC_21,PC_22,PC_23,PC_24,PC_25,PC_26,PC_27,PC_28,PC_29
4656,0.039892,-0.015190,-0.016368,0.020698,-0.002288,0.011231,0.001063,-0.055759,0.030545,-0.001630,...,0.003466,-0.028902,-0.038255,-0.021500,-0.008216,-0.010835,-0.015158,0.033949,0.006178,0.013663
6105,0.098602,-0.015594,-0.084336,0.097448,-0.042769,-0.017306,-0.067782,0.025432,0.001059,-0.005143,...,0.006220,-0.010804,0.000561,0.023831,-0.014834,-0.013630,0.003560,0.014391,-0.026987,0.011694
143,-0.062212,0.083515,-0.014526,-0.038225,-0.043276,0.064588,0.002507,-0.046492,0.036287,-0.013145,...,0.005904,-0.022472,0.021978,0.040785,0.004356,0.012416,0.017575,-0.013205,-0.047815,0.002755
4159,0.009764,-0.003529,-0.020080,-0.002387,0.007049,-0.017220,-0.018704,-0.071538,0.020108,0.015377,...,0.002042,-0.009671,-0.030545,0.007503,0.020044,-0.016150,-0.032966,0.007066,0.008878,-0.046726
2539,-0.054493,0.088346,-0.017536,-0.076549,-0.125141,-0.130549,-0.024565,-0.061024,0.054005,-0.020936,...,-0.013098,0.035242,0.010822,-0.016310,-0.013576,0.026768,0.022207,0.029425,0.014810,0.002351

In [7]:
# posts_features = post_df.join(dists_df)

df = pd.merge(feed_df, post_df, on='post_id', how='left')

df = pd.merge(df, user_df, on='user_id', how='left')

df['hour'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.hour)
df['month'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.month)

df = df.drop([
    # 'timestamp', 
    'action',
    'text',
    'exp_group',
    'topic'
    ], axis=1
    )

df = df.set_index(['user_id', 'post_id'])

df.head()

                          timestamp  target      PC_0      PC_1      PC_2  \
user_id post_id
30220   217     2021-12-07 13:17:51       0 -0.065965  0.113200  0.058466
        1655    2021-12-07 13:19:31       0 -0.004439  0.051037 -0.054198
        1224    2021-12-07 13:22:13       0 -0.058324  0.171675  0.059698
        56      2021-12-07 13:24:35       0 -0.059433  0.073882  0.021383
        1963    2021-12-07 13:24:45       0 -0.051330  0.078316  0.003786

                     PC_3      PC_4      PC_5      PC_6      PC_7  ...  \
user_id post_id                                                    ...
30220   217      0.025652 -0.046845  0.054186 -0.033543  0.010641  ...
        1655    -0.071857  0.134033 -0.034625 -0.014550  0.026633  ...
        1224     0.023454 -0.020949 -0.064774  0.004650 -0.034990  ...
        56       0.011236 -0.013396  0.019215 -0.003606 -0.074754  ...
        1963    -0.026757 -0.045519 -0.044357 -0.028675 -0.100359  ...

                    PC_28     PC_29  gender  age  country    city       os  \
user_id post_id
30220   217     -0.021661  0.014870       0   34  Ukraine  Fastiv  Android
        1655    -0.007832 -0.004949       0   34  Ukraine  Fastiv  Android
        1224     0.016068 -0.017320       0   34  Ukraine  Fastiv  Android
        56      -0.016045 -0.005859       0   34  Ukraine  Fastiv  Android
        1963     0.027151 -0.072623       0   34  Ukraine  Fastiv  Android

                 source  hour  month
user_id post_id
30220   217         ads    13     12
        1655        ads    13     12
        1224        ads    13     12
        56          ads    13     12
        1963        ads    13     12

[5 rows x 40 columns]

In [8]:
def prepare_data(df):
    ### Split by 2021-12-15

    df_train = df[df.timestamp < '2021-12-15']
    df_test = df[df.timestamp >= '2021-12-15']

    df_train = df_train.drop('timestamp', axis=1)
    df_test = df_test.drop('timestamp', axis=1)

    X_train = df_train.drop('target', axis=1)
    X_test = df_test.drop('target', axis=1)

    y_train = df_train['target']
    y_test = df_test['target']

    return X_train, y_train, X_test, y_test

X_train, y_train, X_test, y_test = prepare_data(df)

X_train.head()

                     PC_0      PC_1      PC_2      PC_3      PC_4      PC_5  \
user_id post_id
30220   217     -0.065965  0.113200  0.058466  0.025652 -0.046845  0.054186
        1655    -0.004439  0.051037 -0.054198 -0.071857  0.134033 -0.034625
        1224    -0.058324  0.171675  0.059698  0.023454 -0.020949 -0.064774
        56      -0.059433  0.073882  0.021383  0.011236 -0.013396  0.019215
        1963    -0.051330  0.078316  0.003786 -0.026757 -0.045519 -0.044357

                     PC_6      PC_7      PC_8      PC_9  ...     PC_28  \
user_id post_id                                          ...
30220   217     -0.033543  0.010641  0.014660 -0.002499  ... -0.021661
        1655    -0.014550  0.026633 -0.023685 -0.011148  ... -0.007832
        1224     0.004650 -0.034990  0.115996 -0.056293  ...  0.016068
        56      -0.003606 -0.074754  0.046490 -0.003462  ... -0.016045
        1963    -0.028675 -0.100359  0.102272 -0.042022  ...  0.027151

                    PC_29  gender  age  country    city       os  source  \
user_id post_id
30220   217      0.014870       0   34  Ukraine  Fastiv  Android     ads
        1655    -0.004949       0   34  Ukraine  Fastiv  Android     ads
        1224    -0.017320       0   34  Ukraine  Fastiv  Android     ads
        56      -0.005859       0   34  Ukraine  Fastiv  Android     ads
        1963    -0.072623       0   34  Ukraine  Fastiv  Android     ads

                 hour  month
user_id post_id
30220   217        13     12
        1655       13     12
        1224       13     12
        56         13     12
        1963       13     12

[5 rows x 38 columns]

In [13]:
from catboost import CatBoostClassifier

catboost_tfidf_pca = CatBoostClassifier(task_type='GPU')

object_cols = ['country', 'city', 'os', 'source']

X_train, y_train, X_test, y_test = prepare_data(df)

catboost_tfidf_pca.fit(X_train, y_train, object_cols, verbose=False)

In [14]:
from sklearn.metrics import roc_auc_score

print(f"Train ROC-AUC score: {roc_auc_score(y_train, catboost_tfidf_pca.predict_proba(X_train)[:, 1])}")
print(f"Test ROC-AUC score: {roc_auc_score(y_test, catboost_tfidf_pca.predict_proba(X_test)[:, 1])}")

Train ROC-AUC score: 0.6690866385432376
Test ROC-AUC score: 0.6354838756890537

In [15]:
catboost_tfidf_pca.save_model(
    'catboost_base_model',
    format="cbm"                  
)

In [16]:
from_file = CatBoostClassifier()  # здесь не указываем параметры, которые были при обучении, в дампе модели все есть

from_file.load_model("catboost_base_model")

from_file.predict(X_train)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
posts_features

,post_id,text,topic,PC_0,PC_1,PC_2,PC_3,PC_4,PC_5,PC_6,...,PC_20,PC_21,PC_22,PC_23,PC_24,PC_25,PC_26,PC_27,PC_28,PC_29
0,1,UK economy facing major risks\n\nThe UK manufa...,business,-0.079701,0.151418,-0.025130,-0.109451,-0.125826,0.223940,-0.075140,...,-0.000337,0.026788,0.003280,-0.018680,0.078554,0.042547,0.055163,0.007827,0.020282,0.001929
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,-0.073685,0.172741,0.049680,0.010152,-0.048158,0.031124,0.012330,...,-0.005844,-0.079978,0.086446,0.028002,-0.044838,-0.028524,-0.006120,0.004827,-0.030211,-0.011229
2,3,Asian quake hits European shares\n\nShares in ...,business,-0.057307,0.097492,-0.024933,-0.090227,-0.104137,0.145144,-0.066998,...,-0.016139,-0.030939,0.005843,0.007862,-0.037387,-0.034741,-0.093827,-0.028508,-0.063390,-0.024728
3,4,India power shares jump on debut\n\nShares in ...,business,-0.067296,0.083617,-0.013645,-0.059811,-0.082142,0.064358,-0.025042,...,0.000340,-0.023259,-0.017781,-0.007025,-0.063665,-0.011553,-0.063771,-0.051532,-0.058679,-0.020386
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,-0.051251,0.054124,-0.009096,-0.027548,-0.022169,0.008394,0.000486,...,-0.002167,0.005537,-0.020391,-0.011088,0.002385,-0.018540,-0.024813,-0.024468,-0.013712,-0.008447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,0.185889,-0.051032,0.136546,-0.066273,0.005948,-0.007705,-0.008920,...,-0.014466,0.058876,0.034762,-0.090961,0.000770,0.022815,0.006366,0.069958,-0.027942,-0.084808
7019,7316,I give this movie 2 stars purely because of it...,movie,0.151988,-0.044066,0.093000,-0.034348,-0.038221,0.011566,0.015397,...,-0.001652,0.003680,-0.004306,0.020864,0.023152,0.007597,-0.004847,-0.025722,-0.015812,-0.036570
7020,7317,I cant believe this film was allowed to be mad...,movie,0.071131,-0.024242,-0.091681,0.095706,-0.033687,-0.008003,-0.036967,...,0.007959,-0.000969,0.023957,-0.030409,0.018577,-0.023470,-0.026936,0.024658,-0.011962,0.043025
7021,7318,The version I saw of this film was the Blockbu...,movie,0.064082,-0.005738,-0.084697,0.078824,-0.023092,0.007469,0.022588,...,0.018877,0.011823,0.000139,-0.020470,0.000389,0.011108,-0.003090,0.020127,-0.012757,-0.014372
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,0.033389,-0.018001,-0.023143,0.017963,-0.007674,-0.005825,0.000378,...,0.004443,-0.012196,0.025976,0.002701,-0.009544,-0.028358,0.019745,0.016622,-0.005545,-0.013614

In [19]:
posts_features.to_sql(    
   "daria_stikheeva_base_model_post_features",                    
    con=CONN,
    schema="public",                   
    if_exists='replace'            
   )

23